.s2 {
  background: #fff;
  height:600px;
}
.s2 h1{
  font-family:mregular;
  color:#333333;
  padding-top:50px;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;

}
.s2 a {
  color: #fff;
}
.s2 h2{
  font-family:jose;
}
#list {
  list-style: none;
  display: inline;
  text-align: center;
}

#list li {
  width: 275px;
  float: left;
  padding: 20px;
  position: relative;
}

#list li p {

  color:#575757;
}


#list p{
  font-size:15px;
  color:#000;
  letter-spacing:1px;
}
#list h3{
  font-family:mregular;
  color:#333333;
}
