.s3 {
  background-image: url("phone.jpg");
  background-size: 100%,100%;
  background-repeat: no-repeat;
  height:600px;
  border-bottom: 7px solid #e0e0e0;

}
.s3 h1{
  font-family:jose;
  color:#fff;
  padding-top:130px;
  font-size:50px;
  font-weight:100px;
}
.s3 p{
  padding-top:40px;
  font-family:jose;
  font-weight:500px;
  letter-spacing:1px;
  font-size:25px;
  max-width:900px;
}
