.resume {
background-image: url('imgs/wood2.jpg');
background-size: 100%,100%;
background-repeat: no-repeat;
border-bottom: 5px solid #e0e0e0;
}

@font-face { font-family: Piron; src: url('Code Light.otf');}
@font-face { font-family: c; src: url('Code Bold.otf');
}
@font-face { font-family: Julius; src: url('Julius.ttf');
}
@font-face { font-family: Roboto; src: url('Roboto-Light.ttf');
}
@font-face { font-family: light; src: url('lightopen.ttf');
}
@font-face { font-family: regular; src: url('regularopen.ttf');
}
